**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.vscode


terraform.tfplan
terraform.tfstate
terraform.tfstate.backup
./*.tfstate
**/.terraform/
tf/.terraform.lock.hcl
